header {
    background: #bbbbbb;
    padding: 20px;
}

.boxHeader {
    margin: 0 auto;
    position: relative;
    width: 940px;
}

nav {
    position: absolute;
    right: 0px;
    top: 110px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.products {
    margin: 0 auto;
    width: 940px;
}

.products li {
    display: inline-block;
    padding: 50px 0;
    text-align: center;
    vertical-align: top;
    width: 30%;
}

.products h2 {
    font-size: 30px;
    font-weight: bold;
}

.product-description {
    font-size: 18px;
}

.products-price {
    font-size: 22px;
    font-weight: bold;
}