body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #bbbbbb;
    padding: 20px;
}

.boxHeader {
    margin: 0 auto;
    position: relative;
    width: 940px;
}

.img-banner {
    width: 100%;
}

.main {
    background: #fefefe;
    padding: 3em 0;
    margin: 0 auto;
    width: 940px;
}

.main p {
    margin: 0 0 1em;
}

.main strong {
    font-style: italic;
    font-weight: bold;
}

.title-main {
    font-size: 2em;
    margin: 0 0 1em;
    text-align: center;
    clear: left;
}

.img-utensils {
    float: left;
    margin: 0 20px 20px 0;
    width: 120px;
}

.map {
    padding: 3em 0;
    background: linear-gradient(#fefefe, #888888);
}

.map p {
    margin: 0 0 2em;
    text-align: center;
}

.iframe-map {
    margin: 0 auto;
    width: 940px;
}

.benefits {
    background: #888888;
    padding: 3em 0;
}

.benefits-content {
    width: 640px;
    margin: 0 auto;
}

.benefits-list {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.items {
    line-height: 1.5;
}

.items:first-child {
    font-weight: bold;
}

.img-benefits {
    width: 60%;
}

.video {
    width: 560px;
    margin: 2em auto;
}

main {
    
}

nav {
    position: absolute;
    right: 0px;
    top: 110px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #ff0000;
}

.products-main {
    margin: 0 auto;
    width: 940px;
}

.products {
    margin: 0 auto;
    padding: 50px 0;
    width: 940px;
}

.products li {
    border: 2px solid #000000;
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 1.5%;
    padding: 30px 20px;
    text-align: center;
    vertical-align: top;
    width: 30%;
}

.products li:hover {
    border: 2px solid #ff0000;
    color: #ff0000;
}

.products li:active {
    border: 6px solid #ff0000;
}

.products li:hover h2 {
    font-size: 34px;
}

.products h2 {
    font-size: 30px;
    font-weight: bold;
}

.products li:hover .product-description {
    font-size: 22px;
    font-weight: bold;
}

.product-description {
    font-size: 18px;
}

.products-price {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    background-image: url(image/bg.jpg);
    padding: 40px 0px;
    text-align: center;
}

.copyrigth {
    color: #ffffff;
    font-size: 13px;
    margin-top: 20px;
}

.main-form {
    margin: 0 auto;
    width: 940px;
}

form {
    margin: 40px 0px;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.standard-input {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.submit {
    background: url(image/bg.jpg);
    border: none;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0px;
    transition: 1s all;
    width: 40%;
}

.submit:hover {
    background: #cccccc;
    color: #000000;
    transform: scale(1.2) rotate(360deg);
}

table {
    margin: 20px 0px 40px;
}

thead {
    background: #555555;
    color: #ffffff;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

