#banner {
    width: 100%;
}

h1 {
    text-align: left;
    padding-left: 20px;
}

.main {
    background: #cccccc;
    padding: 30px;
}

.titles {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: #ff0000;
}

.benefits {
    background: #ffffff;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.items {
    font-style: italic;
}

#benefits {
    width: 50%;
}